<!DOCTYPE html>
<html>

<head>
    <title>Training Create View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="css/style-custom.css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/ekko-lightbox.css" />
    <!-- Latest compiled and minified CSS -->
    <link href="css/style-default.css" rel="stylesheet" id="theme" />
</head>

<body>
    <div class="body-outer">
        <form class="sec1" style="display: none;">

        </form>
    </div>

    <!-- jQuery library -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/datepick.js"></script>
    <script type="text/javascript" src="js/ekko-lightbox.min.js"></script>
    <script type="text/javascript" src="js/CreateView.js"></script>

</body>

</html>